html,
body {
    overflow: hidden;
}

button:focus {
    outline: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sketch {
    position: relative;
    z-index: 2;
}

.new-tab-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}